# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

# Ignore everything in this directory
*
# Except this file
!.gitignore

node_modules/
platforms/
plugins/
